body {
    background-color: black;
    color: white;
}

button {
    margin-top: 10vh;
    height: 200px;
    width: 200px;
    border-radius: 100px;
    background-color: red;
    font-size: 2rem;
    font-weight: bolder;
}